script(type='text/javascript')
  $(function() {
    var socket = io.connect();

    socket.on('access', function(data) {
      console.log(data);
      if ($('.page').size() > 30) {
        $('.page:last').remove();
      }
      var user = data.user;
      var date = new Date(data.timestamp);
      $('#loading').hide();
      $('#pages').prepend(
        '<p class="page">' +
          '<a href="/' + user.name + '">' +
            '<img src="' + user.profile_url + '" style="float: left;"/>' + 
          '</a>' +
          '<span style="font-weight: bold">' + data.title + '</span> ' +
          '(<a href="' + data.url + '">' + data.url + '</a>)' +
          '<br /><span style="color: #AEAEAE;">' + date.toLocaleString() + '</span>' + 
        '</p>');
    });
  });
h3 Install 
  a(href="/files/stalkr.crx") Google Chrome Extension
  |&nbsp;first.
h3 If you want to *stalk* someone specific, click his/her icon or go http://mesolabs.no.de/:name

h2 People are watching these pages NOW.
#pages
  img#loading(src="/images/loading.gif")
