script(type='text/javascript')
  $(function() {
    var socket = io.connect();
    socket.on('access', function(data) {
      console.log(data);
      if ($('.page').size() > 30) {
        $('.page:last').remove();
      }
      var user = data.user;
      $('#pages').prepend(
        '<p class="page">' +
          '<a href="http://localhost:3000/' + user.name + '">' +
            '<img src="' + user.profile_url + '"/>' + 
          '</a>' +
          '<span style="font-weight: bold">' + data.title + '</span> ' +
          '(<a href="' + data.url + '">' + data.url + '</a>)' +
        '</p>');
    });
  });
h3 If you want to *stalk* who you follow on Twitter, 
  a(href="/signin")
    img(src="http://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png")
  .
h3 and if you want to be *stalked* by someone, install this 
  a(href="/stalkr.crx") Google Chrome Extension
  .

h2 People are accessing these pages NOW.
#pages
