script(type='text/javascript')
  $(function() {
    var userId = $('#userId').text().trim();
    console.log(userId);
    var socket = io.connect('http://mesolabs.no.de/' + userId);
    socket.on('access', function(data) {
      if ($('.page').size() > 30) {
        $('.page:last').remove();
      }

      $('#pages').prepend('<p class="page">' + data.title + ' ( ' + data.url + ' )</p>');
    });
  });
#userId(style='display: none;')= userId
h2= name
 |&nbsp;is accessing these pages NOW.
#pages
